name: autoTestOnPush.yml
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"
      - name: install and initialize pytet
        run: |
          python -m venv venv
          source venv/bin/activate
          python -m pip install --upgrade pip
          python -m pip install --upgrade requirements.txt
      - name: Run test
        run: |
          source venv/bin/activate
          python -m pytest