name: miblo-back-end Documentation Generation
run-name: ${{ github.actor }} is generating documentation 

on: [push]

jobs:
  generate-doc:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Sphinx dependencies
        run: |
          python -m pip install --upgrade pip
          pip install sphinx sphinx-autodoc-typehints

      - name: Generate Sphinx documentation
        run: |
          sphinx-build -b html doc/source doc/build/html

      - name: Upload documentation artifact
        uses: actions/upload-artifact@v4
        with:
          name: miblo-backend-doc
          path: doc/build/html